<!-- <div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto my-5" *ngFor="let image of images">
      <mat-card>
        <img mat-card-image [src]="image.src" alt="Card image cap" style="height:100px;width:auto;">

        <mat-card-content>
          <mat-card-title>
            <h4>{{image.name}}</h4>
          </mat-card-title>

          <mat-card-subtitle>
            {{image.title}}
          </mat-card-subtitle>

          <button mdbBtn color="primary">{{image.name}}</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> -->

<mat-grid-list cols="3" rowHeight="5:4" gutterSize="0">


  <mat-grid-tile class="container" *ngFor="let image of images">
    <img src='{{image.src}}' alt="{{image.name}}'s face" class="image">
    <div class="overlay">
      <div class="text">{{ image.name }}<br>{{ image.title || "Consultant"}}</div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<!--
<div class="container" *ngFor="let image of images">
  <img src='{{image.src}}' alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">{{ image.name }}<br>{{ image.title }}</div>
  </div>
</div> -->



<!-- <div class="image-list" fxLayout="row">
	<ng-container *ngFor="let image of images">


    <div *ngIf="image?.src" fxFlexFill class="image-list-item" (click)="onImageListItemClick(image)">
      <div fxFlexFill class="image-list-item__image" [style.background-image]="'url(' + image.src + ')'"></div>
      <div class="image-list-item__caption">
        {{ image.title }}
      </div>
    </div>

	</ng-container>
</div> -->
