<header>
  <br>
  <div class="main-div">
      <mat-card class="home-card" >
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Faces of Ventera</mat-card-title>
          <mat-card-subtitle>App by Victor Farrell</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/google-signin.png" alt="random image">
        <mat-card-content>
          <p>Welcome to the Faces of Ventera App. It's a work in progress.</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit amet nostrum, aperiam blanditiis voluptatibus, et, possimus aliquam aspernatur sapiente earum doloribus delectus sunt fuga voluptas aut explicabo. Ratione, sed deleniti!.
        </p>

        <p>If you have ideas let me know.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="https://www.victorfarrell.com/home" target="blank">About the Dev</a>
          <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://fireship.io/courses/angular" target="blank">Build an app like this</a>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="https://discord.gg/e8EZ2Zd93r" target="blank">Feedback Discord</a>
          <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://www.youtube.com/embed/9V-ryIuYSGg" target="blank">Workout credited to</a>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
  </div>
</header>


