<header>
  <br>
  <div class="main-div">
      <mat-card class="home-card" >
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Faces of Ventera</mat-card-title>
          <mat-card-subtitle>App by Victor Farrell</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="../../assets/ventera_logo_full-color-white.png" alt="Ventera Logo"> -->
        <mat-card-content>
          <p>Welcome to the Faces of Ventera App.</p>

        <p>The soul of Ventera is our people. We want to make the world a better place through forging strong partnerships and using technology to drive true innovation. These are the faces of those human beings who strive every day to make a difference in our corners of the world.</p>

        <p>This site is a work in progress. If you have suggestions or ideas for it, let <a href="https://teams.microsoft.com/l/chat/0/0?users=<vfarrell@ventera.com>">me</a> know.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="https://teams.microsoft.com/l/chat/0/0?users=<vfarrell@ventera.com>" target="blank">Message Victor</a>
          <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://www.ventera.com" target="blank">Ventera Homepage</a>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="https://www.victorfarrell.com/home" target="blank">About the Dev</a>
          <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://fireship.io/courses/angular" target="blank">Build an app like this</a>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
  </div>
</header>


