<header>
  <br>
  <div class="main-div">
      <mat-card class="home-card" >
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Happy Tales: Eat & Explore</mat-card-title>
          <mat-card-subtitle>App by Victor Farrell</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="../../assets/ht-logo.png" alt="Happy Tales Logo"> -->
        <mat-card-content>
          <p>Hello Friend 👋</p>

        <p>I love good food, good beer, and puzzles. While touring Europe, and eating my way through Paris, I thought about how much I love these things and how much fun it would be to put together a food tour of my own. I hope you enjoy it with me.</p>

        <p>This site is a work in progress. If you have suggestions or ideas for it, let <a href="mailto:jvictorfarrell@gmail.com">me</a> know.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" style="margin-right: 10px;" href="mailto:jvictorfarrell@gmail.com" target="blank">Message Victor</a>
          <a mat-raised-button color="accent" style="margin-right: 10px;" href="https://www.victorfarrell.com/home" target="blank">About the Dev</a>
          <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
  </div>
</header>


